<%# <aside> %>
  <%#= render 'share/side_bar' %>
<%# </aside> %>
<div class="main-bar"> 
  <div class="row title-block">
    <div class="col-md-6 offset-md-3 title">問題一覧</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <% @challenges.each do |challenge| %>              
          <li class="list-group-item p-0 mb-1 border-0 rounded">
            <%= link_to challenge_path(challenge) do %> 
              <div class="shadow-sm p-1 bg-cus rounded d-flex flex-row justify-content-start">
                <div class="p-1 pr-2 border-right border-danger"><i class="fas fa-check-circle"></i></div>
                <div class="p-1 flex-grow-1"><%= challenge.title %></div>
              </div>
            <% end %>
          </li> 
        <% end %>
      </ul>
    </div>
  </div>
  <%# <div class="list">
    <div class="item">First</div>
    <div class="item">Second</div>
    <div class="item">Third</div>
    <div class="item">Fourth</div>
  </div> %>
</div>
<ul class="main-tree">
  <li class="tree-title">photos-2015</li>
  <ul class="tree">
      <li class="tree-title">beach</li>
      <li class="tree-item">0-2015-01-01.jpg</li>
      <li class="tree-item">1-2015-01-02.jpg</li>
      <li class="tree-item">2-2015-01-03.jpg</li>
  </ul>
  <ul class="tree">
      <li class="tree-title">disneyland</li>
      <li class="tree-item">3-2015-02-01.jpg</li>
      <li class="tree-item">7-2015-02-02.jpg</li>
      <li class="tree-item">8-2015-02-03.jpg</li>
      <ul class="tree">
          <li class="tree-title">birthday party</li>
          <li class="tree-item">4-2015-02-01.jpg</li>
          <li class="tree-item">5-2015-02-01.jpg</li>
          <li class="tree-item">6-2015-02-01.jpg</li>
      </ul>
  </ul>
</ul>
<style>
  /* .item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } */
</style>
<%# 管理者でのみ設定する %>
<%# <script>
  $(function() {
    Sortable.create($('.list-group')[0], {
      animation: 200,  // ミリ秒で指定
    });
  });
</script> %>


