<aside>
  <%= render 'share/side_bar' %>
</aside>
<div class="main-bar"> 
  <div class="row title-block">
    <div class="col-md-6 offset-md-3 title">問題一覧</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <% @challenges.each do |challenge| %>              
          <li class="list-group-item p-0 mb-1 border-0 rounded">
            <%= link_to challenge_path(challenge) do %> 
              <div class="shadow-sm p-1 bg-cus rounded d-flex flex-row justify-content-start">
                <div class="p-1 pr-2 border-right border-danger"><i class="fas fa-check-circle"></i></div>
                <div class="p-1 flex-grow-1"><%= challenge.title %></div>
              </div>
            <% end %>
          </li> 
        <% end %>
      </ul>
    </div>
  </div>
  <%# <div class="list">
    <div class="item">First</div>
    <div class="item">Second</div>
    <div class="item">Third</div>
    <div class="item">Fourth</div>
  </div> %>
</div>
<style>
  /* .item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } */
</style>
<%# 管理者でのみ設定する %>
<script>
  $(function() {
    Sortable.create($('.list-group')[0], {
      animation: 200,  // ミリ秒で指定
    });
  });
</script>


