.bg-black {
  background-color: black;
}

.h-50 {
  height: 50px;
}

.logo {
  margin-left: 5px;
}

nav {
  padding-left: 3px !important;
  height: 40px;
}

// .navbar {
//   position: fixed;
// }

.nav-link {
  padding-top: 13px;
  padding-bottom: 13px;
}

.mg-rl {
  margin-left: 74%
}

.text-center {
  text-align: center;
}


// @media (max-width: 1263px){
//   .mg-rl {
//     margin-left: 64%
//   }
// }

@media (max-width: 1000px){
  
}
@media (max-width: 767px){
  
}
